<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi"/>
    <script th:src="@{/tool/jquery-3.5.1.js}"></script>
    <script th:src="@{/tool/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/tool/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>主页</title>
</head>
<body>
<div class="head"><!--头部-->
            <div class="login_msg">
                <div shiro:guest class="no_login">
                    <span class="no_login">欢迎<a href="/login">登录</a></span>
                    <span class="no_login"><a href="/register">注册</a></span>
                </div>

            <div  shiro:user class="have_logined"> <!--未登录时是隐藏的-->
                <div class="head_left">
                    <span>欢迎 <span shiro:principal=""></span>登陆</span>
                    <span><a href="/shopcar">购物车</a></span>
                    <span><a href="">历史订单</a></span>
                    <span><a href="/admin/index">个人中心</a></span>
                </div>
                <div class="head_right">
                    <span><a href="/fgpassword">修改密码</a></span>
                    <span><a href="/logout">退出登录</a></span>
                </div>
            </div>
    </div>
    <div class="search">
         <form action="/book/search" method="get">
            <div class="input-group">
                <input type="search" class="form-control" name="search" id="text_search" placeholder="搜索">
                <span class="input-group-btn">
                        <button type="submit"  class="btn btn-default" id="bt_search"><span
                                class="glyphicon glyphicon-search"></span></button>
                    </span>
            </div>
         </form>
    </div>
</div>


<hr></hr>


<div class="center">
    <div class="left">
        <ul class="nav nav-pills nav-stacked">
            <li value="0"><a href="/category/0/book">全部</a></li>
            <li value="1"><a href="/category/1/book">文学</a></li>
            <li value="2"><a href="/category/2/book">流行</a></li>
            <li value="3"><a href="/category/3/book">经营</a></li>
            <li value="4"><a href="/category/4/book">科幻</a></li>
            <li value="5"><a href="/category/5/book">艺术</a></li>
            <li value="6"><a href="/category/6/book">哲学</a></li>
            <li value="7"><a href="/category/7/book">生活</a></li>
            <li value="8"><a href="/category/8/book">科技</a></li>
        </ul>
    </div>

    <div class="right">
        <table  id="btable" border="0" cellspacing="0" cellpadding="4">
            <tr th:each="book : ${books}">
                <td >
                    <div class="well" data-toggle="popover"  data-trigger="focus" th:title="${book.getTitle()}" th:data-content="'<p>'
                    +${book.getAuchor()}+'/'+${book.getDate()}+'/'+${book.getPress()}+'</p>'+'<p>'+${book.getAbs()}+'</p>'" html="true">
                        <input type="hidden" th:value="${book.getId()}">
                    <div class="goods">
                        <img th:src="${book.getCover()}"  title="活着"/>
                        <p id="bookname" th:text="${book.getTitle()}"></p>
                        <p th:text="${book.getAuchor()}"></p>
                        <p th:text="${book.getPrice()}"></p>
                    </div>
                    </div>
                </td>
            </tr>
        </table>

            <ul class="pagination pagination-lg">
            <li ><a class="pagenumber" >&laquo;</a></li>
            <li><a th:text="${n==null}?1:${n}-4" class="pagenumber number" >1</a></li>
            <li><a th:text="${n==null}?2:${n}-3" class="pagenumber number" >2</a></li>
            <li><a th:text="${n==null}?3:${n}-2" class="pagenumber number" >3</a></li>
            <li><a th:text="${n==null}?4:${n}-1" class="pagenumber number" >4</a></li>
            <li><a th:text="${n==null}?5:${n}" class="pagenumber number" >5</a></li>
            <li><a class="pagenumber" >&raquo;</a></li>
        </ul>

    </div>
</div>
<div class="footer">
    Java Web 网上书店项目<span><a href="">详情</a></span>
</div>
<script th:src="@{/js/index.js}">
</script>
</body>
</html>